@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: #FCF5EE;
  padding: 0 50px;
}

.navigation {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(72, 72, 72, 0.476);

  li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: calc(.7em + .7vw);
    text-transform: uppercase;
  }
}

span {
  position: relative;
  display: block;
  cursor: pointer;
  padding-right: 5px;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #000;
}

span:before {
  left: -2.5px;
}
span:after {
  right: 2.5px;
  background: #000;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: #000;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}